@brand-primary: #4d926f;
@body-bg:    #444;

//div {
//  background-color: @brand-primary;
//  border-width: 1px;
//}
#sentence {

//  text-indent:2em
}
.content1{
  margin:0 auto;
  width:600px;
  height:400px;
//  border:1px solid #00F;
  background: url("../background.jpg") center center no-repeat;
}
.content{
  margin:0 auto;
  width: 800px;
  height: 600px;
  background: url("../background.jpg") center center repeat;
  background-size: 800px 600px;
}
@time: 20s;
h1 {
  text-align: center;
  font-size: 240px;
  background: url("../bg.png") center center repeat;
  background-size: 80px 60px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: ani-h3 @time linear forwards infinite;
  animation: ani-3h @time linear forwards infinite;
}

@-webkit-keyframes ani-h1 {
  0% {
    background-position: 0 0;
  }
  25% {
    background-position: 0 0;
  }
  26% {
    background-position: 20px -20px;
  }
  50% {
    background-position: 20px -20px;
  }
  51% {
    background-position: 40px -40px;
  }
  75% {
    background-position: 40px -40px;
  }
  76% {
    background-position: 60px -60px;
  }
  99% {
    background-position: 60px -60px;
  }
  100% {
    background-position: 0 0;
  }
}

h2 {
  text-align: center;
  font-size: 240px;
  background: url("../bg.png") repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: ani-h2 10s linear infinite;
}
@-webkit-keyframes ani-h2 {
  0% {background-position: left bottom;}
  100% {background-position: right bottom;}
}

//
//#sentence li {
//  float:left; /* 往左浮动 */
//}
//.div-inline{ float:left;}

@-webkit-keyframes ani-h3 {
  from {
    -webkit-background-size: 0% 100%;
    background-size: 0% 100%;
  }
  to {
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
  }
}

h4 {
  width: 400px;
  margin: 0 auto;
  margin-top: 20px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient( to bottom, #9588DD, #9588DD 22px, #DD88C8 22px, #DD88C8 44px, #D3DD88 44px, #D3DD88 66px, #88B0DD 66px, #88B0DD);
}